.wrapper {
  margin: 0 auto;
  width: 946px;
  font-family: sans-serif;
}
.header {
  background-image: url("img/header-bg.png");
  background-repeat: no-repeat;
  background-size: 946px;
  width: 100%;
}
.nav {
  text-align: right;
  padding-top: 10px;
}
.nav a {
  margin-right: 60px;
  text-decoration: none;
  color: black;
  font-weight: 700;
}
.logo {
  width: 120px;
  height: 120px;
  margin: 20px 0 20px 50px;
}
.headline {
  text-align: left;
  margin: 0 auto;
  width: 340px;
}
.iphone {
  margin: -76px 0 20px 80px;
}
.iphone img {
  width: 150px;
}
.download div {
  display: inline-block;
  font-weight: bold;
  margin: 0 0 20px 20px;
}
.download img {
  display: inline-block;
  width: 100px;
}