.wrapper {
  margin: 0 auto;
  width: 946px;
  font-family: sans-serif;
}
h1 {
  font-size: 2.5em;
  font-family: times;
}
.header {
  background-image: url("https://i.imgur.com/QWJnNnz.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
}
.nav {
  text-align: right;
  padding-top: 10px;
}
.nav a {
  margin-right: 60px;
  text-decoration: none;
  color: black;
  font-weight: 700;
}
.logo {
  width: 120px;
  height: 120px;
  margin: 20px 0 0 50px;
}
.headline {
  text-align: left;
  margin: 0 auto;
  width: 340px;
}
.iphone {
  margin: -76px 0 20px 80px;
}
.iphone img {
  width: 150px;
}
.download div {
  display: inline-block;
  font-weight: bold;
  margin: 0 0 20px 20px;
}
.download img {
  display: inline-block;
  width: 100px;
}

.we-can-header {
  text-align: center;
}
.lines {
  padding: 0 250px;
  margin-bottom: 20px;
}
.three-imgs {
  -moz-column-count: 3;
  -moz-columns: 3;
  -webkit-columns: 3;
  columns: 3;
  text-align: center;
}
.three-imgs img {
  width: 200px;
}
.occasion-phone {
  background: linear-gradient(to right,#18A8F0, #A9D4FD);
  background-size: 100%;
  -moz-column-count: 2;
  -moz-columns: 2;
  -webkit-columns: 2;
  columns: 2;
}
.occasion-phone img {
  width: 220px;
  margin-left: 140px;
}
.occ-text {
  padding-top: 6px;
}
.square-list {
  list-style-type: square;
}
.square-list li {
  margin-bottom: 20px;
  font-size: 20px;
  font-family: times;
}
.get-app-btn {
  width: 100px;
  height: 25px;
  background: #4A4A4A;
  color: #fff;
  font-weight: bold;
  padding: 5px 10px;
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}